extends ../masterpage/master
block body
    section.main-content-wrapper
        section.container-fluid
            .row
                .col-md-18
                    block content
                .col-md-2
                    block aside

