header.bg--blue
    section.container-fluid.text-center
        .row
            .col-md-16.col-md-offset-2.col-sm-offset-0
                h1
                    img(src="images/logo.png" alt="Selly")
                h2 Nullam viverra consectetuer <strong>quisque cursus et</strong>, porttithendrerit nulla quam nunc, accumsan congue.
                p Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis fauer lobortis quis, varius in, purus.
                .buttons
                    a(href="javascript:void(0);" class="btn btn-green") take a tour
                    a(hrfe="javascript:void(0);" class="btn btn-blue") watch the video
                